@import "/src/styles/mixins";

.review-container-wrap {
  @include animateY;
  padding: 0 150px;
  margin-bottom: 100px;
}

.h2 {
  @include h2;
  margin-top: 100px;
}

.review-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
