$G-window-size-pc: 1024px;
$G-window-size-tablet: 768px;
$G-window-size-mobile: 320px;

$G-z-index-slide: 2;
$G-z-index-quickMenu: 3;
$G-z-index-header: 10;
$G-z-index-toast: 15;
$G-z-index-modal: 20;

$G-font-weight-bold: 700;
$G-font-weight-regular: 400;

$G-white: #ffffff;
$G-black: #000000;
$G-error: #dc3a3a;
