@import "/src/styles/mixins";

.item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  @include animateY;

  > span {
    color: #777777;
  }
}

.img-wrap {
  border-radius: 50%;
  padding: 20px;

  &.purple {
    background-color: #ded0e0;
  }

  &.blue {
    background-color: #d0cfe0;
  }
}
