.product-slide-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.active-slide {
  opacity: 1;
  width: 432px !important;
  height: 432px;
  transform: scale(1.1);
}

.out-active-slide {
  width: 352px !important;
  height: 352px;
  opacity: 0.4;
}
